# CDK asset staging directory
.cdk.staging
cdk.out

# Node modules
node_modules

# Build output
*.js
*.d.ts
!jest.config.js

# Dependency directories
package-lock.json

# Environment variables
.env
.env.local

# IDE
.vscode
.idea
*.swp
*.swo

# macOS
.DS_Store

# Logs
*.log
npm-debug.log*

# Test coverage
coverage
